body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #eee9f7;
  color: #2d2142;
}

.app {
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

h1 {
  color: #5b2c83;
}

h3 {
  color: #43235f;
}

.filters {
  margin: 20px;
}

.filters button {
  background-color: #6c3fa0;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
}

.filters button:hover {
  background-color: #4f2878;
}

.movie-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-card {
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  border: 2px solid #d8c8e8;
  box-shadow: 0 4px 10px #c8bdd3;
}

.movie-card h2 {
  color: #5b2c83;
}

.movie-card button {
  background-color: #6c3fa0;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

.movie-card button:hover {
  background-color: #4f2878;
}

.movie-card p {
  margin: 8px;
}

.movie-card div button {
  background-color: transparent;
  color: #f2b01e;
  font-size: 28px;
  padding: 2px;
}

.movie-card div button:hover {
  color: #d89100;
}
